.authorization-container {
  position: relative;
  height: calc(100vh - 80px);
  overflow: hidden;
}
.authorization-container .title {
  margin-top: 80px;
}

.authorization-wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 450px;
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.9);
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 0 25px black;
  z-index: 20;
}
.authorization-wrap .header-authorization {
  display: flex;
  font-size: 22px;
  color: black;
}
.authorization-wrap .header-authorization:hover {
  cursor: pointer;
}
.authorization-wrap .header-authorization .title {
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  font-size: 22px;
  margin: 0;
}
.authorization-wrap .header-authorization .title-active {
  background: #2a7799;
}
.authorization-wrap .form-field {
  display: none;
  flex-direction: column;
  margin: 10px 0;
}
.authorization-wrap .form-field .input-wrap {
  position: relative;
}
.authorization-wrap .form-field .input-wrap .input {
  margin: 20px 0;
  width: 100%;
  height: 50px;
  padding: 5px;
  font-size: 20px;
  outline: none;
  border: 1px black solid;
}
.authorization-wrap .form-field .input-wrap .error {
  position: absolute;
  margin: 0;
  color: red;
  text-transform: none;
  top: 70px;
  display: none;
}
.authorization-wrap .form-field .input-wrap input:invalid:not(:placeholder-shown) + .error {
  display: block;
}
.authorization-wrap .form-active {
  display: block;
}
.authorization-wrap .create-account, .authorization-wrap .button-login {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 40px;
  font-size: 18px;
  margin-top: 20px;
  background: darkolivegreen;
  border-radius: 5px;
  transition: 0.3s;
}
.authorization-wrap .create-account:hover, .authorization-wrap .button-login:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.authorization-wrap .create-account:active, .authorization-wrap .button-login:active {
  transform: scale(0.95);
}
.authorization-wrap .button-logout {
  background: brown;
  width: 230px;
  height: 70px;
  margin: 0 auto;
  font-size: 32px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
.authorization-wrap .button-logout:hover {
  cursor: pointer;
}

.active-signin {
  display: block;
}

.user-name {
  margin-right: 20px;
  font-size: 20px;
}

input:invalid:not(:placeholder-shown) {
  border-color: red;
}

input:valid:not(:placeholder-shown) {
  border-color: green;
}

@media (max-width: 500px) {
  .authorization-wrap {
    width: 280px;
    height: 380px;
  }
  .authorization-wrap .header-authorization .title {
    font-size: 16px;
  }
  .authorization-wrap .form-field .input-wrap .input {
    margin: 15px 0;
    height: 45px;
  }
  .authorization-wrap .form-field .input-wrap .error {
    top: 60px;
    font-size: 12px;
  }
}

/*# sourceMappingURL=authorization.css.map */
