header {
  background: rgba(255, 255, 255, 0.3);
}

hr {
  margin: 10px;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.button:active {
  transform: scale(0.9);
}

.sprint-wrap, .result {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: url("/public/assets/sprint-bg.jpg") no-repeat center;
  background-size: cover;
}
.sprint-wrap .sprint, .result .sprint {
  margin: 0 auto;
  max-width: 1440px;
}
.sprint-wrap .timer, .result .timer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.sprint-wrap .word, .sprint-wrap .translate, .result .word, .result .translate {
  height: 50px;
  margin: 5px;
  font-size: 42px;
  text-align: center;
}
.sprint-wrap .translate, .result .translate {
  font-size: 34px;
}
.sprint-wrap .response-type, .result .response-type {
  position: absolute;
  display: flex;
  bottom: 50px;
}
.sprint-wrap .response-type .answer-false, .sprint-wrap .response-type .answer-true, .result .response-type .answer-false, .result .response-type .answer-true {
  width: 150px;
  height: 50px;
  margin: 15px;
  background: darkred;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 5px;
  transition: 0.3s;
}
.sprint-wrap .response-type .answer-true, .result .response-type .answer-true {
  background: green;
}
.sprint-wrap .true, .result .true {
  border: 5px solid green;
}
.sprint-wrap .false, .result .false {
  border: 5px solid red;
}
.sprint-wrap .hide, .result .hide {
  display: none;
}

.sprint-game, .sprint-result {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  background: rgba(255, 255, 255, 0.6);
  border: 5px solid cornsilk;
  border-radius: 25px;
  transition: 0.5s;
}

.sprint-result {
  overflow: hidden;
  padding: 10px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.sprint-result .title {
  font-size: 32px;
  margin: 10px;
}
.sprint-result .result-wrap {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.sprint-result .result-wrap .one-word {
  display: flex;
  margin: 10px;
  font-size: 24px;
}
.sprint-result .result-wrap .one-word .answer {
  margin: 0 10px;
}
.sprint-result .result-wrap .one-word .true-answer, .sprint-result .result-wrap .one-word .false-answer {
  width: 40px;
  height: 30px;
  background: green;
  -webkit-mask-image: url("/public/assets/svg/volume.svg");
  -webkit-mask-position: center;
  -webkit-mask-size: 80% 80%;
  -webkit-mask-repeat: no-repeat;
  transition: 0.3s;
}
.sprint-result .result-wrap .one-word .false-answer {
  background: red;
}
.sprint-result .result-wrap .one-word .true-answer:hover, .sprint-result .result-wrap .one-word .false-answer:hover {
  cursor: pointer;
}
.sprint-result .result-wrap .result-navigation {
  display: flex;
  justify-content: center;
}
.sprint-result .result-wrap .result-navigation .close-game {
  border: 2px solid green;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 15px;
  width: max-content;
  display: flex;
  align-self: center;
  transition: 0.3s;
}
.sprint-result .result-wrap .result-navigation .close-game:hover {
  cursor: pointer;
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.5);
}
.sprint-result .result-wrap .result-navigation .close-game:active {
  transform: scale(0.95);
}
.sprint-result .result-wrap .result-navigation .close-game {
  border: 2px solid red;
}
.sprint-result .result-wrap .title-true, .sprint-result .result-wrap .title-false {
  display: flex;
  align-items: center;
  font-size: 24px;
}
.sprint-result .result-wrap .title-true .amount-answer, .sprint-result .result-wrap .title-false .amount-answer {
  margin: 0 10px;
  background: green;
  width: 50px;
  height: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
.sprint-result .result-wrap .title-false .amount-answer {
  background: red;
}

.choose-levels {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: lightgray;
}
.choose-levels .choose-wrap {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  width: 500px;
  height: 500px;
  background: rgba(255, 255, 255, 0.6);
  border: 5px solid cornsilk;
  border-radius: 25px;
}
.choose-levels .choose-wrap .title {
  font-size: 36px;
}
.choose-levels .choose-wrap .subtitle {
  font-size: 22px;
}
.choose-levels .choose-wrap .button-choose {
  width: 150px;
  height: 50px;
  background: olivedrab;
  font-size: 22px;
  border: 2px solid darkgreen;
  border-radius: 5px;
  transition: 0.3s;
}
.choose-levels .choose-wrap .levels-wrap {
  display: flex;
}
.choose-levels .choose-wrap .levels-wrap .level {
  width: 50px;
  height: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  border-radius: 50%;
  border: 2px solid gray;
  transition: 0.3s;
}
.choose-levels .choose-wrap .levels-wrap .choose {
  border: 4px solid green;
}

.game-wrap {
  position: relative;
  top: -60px;
}
.game-wrap .current-state {
  position: relative;
  left: 50%;
  display: flex;
  width: 500px;
  justify-content: space-between;
  transform: translate(-50%, 0);
  margin: 20px 0;
}

.score, .points {
  position: relative;
  font-size: 46px;
  font-weight: bold;
  text-shadow: 0 0 10px white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px;
}

.points {
  font-size: 38px;
  margin-top: 15px;
  font-weight: 400;
}

.bulbs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.bulbs .light-bulb {
  width: 50px;
  height: 70px;
  margin: -30px 25px 10px;
  background: black;
  -webkit-mask-image: url("/public/assets/svg/lightbulb.svg");
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}
.bulbs .active-light {
  background: orange;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

@media (max-width: 650px) {
  .choose-levels .choose-wrap, .sprint-game, .sprint-result, .game-wrap .current-state {
    width: 400px;
  }
  .choose-levels .choose-wrap .levels-wrap .level, .sprint-game .levels-wrap .level, .sprint-result .levels-wrap .level, .game-wrap .current-state .levels-wrap .level {
    margin: 5px;
  }

  .game-wrap {
    top: -30px;
  }

  .sprint-result .result-wrap .one-word {
    font-size: 16px;
  }
}
@media (max-width: 360px) {
  .choose-levels .choose-wrap, .sprint-game, .sprint-result, .game-wrap .current-state {
    width: 340px;
  }
  .choose-levels .choose-wrap .levels-wrap .level, .sprint-game .levels-wrap .level, .sprint-result .levels-wrap .level, .game-wrap .current-state .levels-wrap .level {
    width: 45px;
    height: 45px;
  }

  .sprint-wrap .response-type .answer-false, .sprint-wrap .response-type .answer-true, .result .response-type .answer-false, .result .response-type .answer-true {
    width: 120px;
  }

  .bulbs .light-bulb {
    margin-top: -10px;
  }
}

/*# sourceMappingURL=sprint.css.map */
