header {
  background: rgba(255, 255, 255, 0.3);
}

hr {
  margin: 10px;
  width: 90%;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.button:active {
  transform: scale(0.9);
}

.sprint-wrap, .result {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: url("/public/assets/sprint-bg.jpg") no-repeat center;
  background-size: 100% 100%;

  .sprint {
    margin: 0 auto;
    max-width: 1440px;
  }

  .timer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
  }

  .word, .translate {
    height: 50px;
    margin: 25px 0 10px;
    font-size: 56px;
    text-align: center;
  }

  .translate {
    font-size: 34px;
  }

  .response-type {
    position: absolute;
    display: flex;
    bottom: 50px;

    .answer-false, .answer-true {
      width: 150px;
      height: 50px;
      margin: 15px;
      background: darkred;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      border-radius: 5px;
      transition: 0.3s;
    }

    .answer-true {
      background: green;
    }
  }

  .true {
    border: 5px solid green;
  }

  .false {
    border: 5px solid red;
  }

  .hide {
    display: none;
  }
}

.sprint-game, .sprint-result {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  transition: 0.5s;
}

.sprint-result {
  padding: 10px;
  top: 55%;
  transform: translate(-50%, -50%);

  .title {
    font-size: 32px;
    margin: 10px;
  }

    .one-word {
      display: flex;
      margin: 10px;
      font-size: 16px;

      .answer {
        margin: 0 10px;
      }

      .true-answer, .false-answer {
        width: 35px;
        height: 25px;
        background: green;
        -webkit-mask-image: url("/public/assets/svg/volume.svg");
        -webkit-mask-position: center;
        -webkit-mask-size: 80% 80%;
        -webkit-mask-repeat: no-repeat;
        transition: 0.3s;
      }

      .false-answer {
        background: red;
      }

      .true-answer:hover, .false-answer:hover {
        cursor: pointer;
      }
    }

    .result-navigation {
      display: flex;
      justify-content: center;

      .close-game {
        width: 12rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 0.5rem;
        border: 3px solid #2a7799;
        margin: 10px;
        transition: 0.3s;

        &:hover {
          cursor: pointer;
          transform: scale(1.05);
          background: rgba(255, 255, 255, 0.5);
        }

        &:active {
          transform: scale(0.95);
        }
      }
    }

    .title-true, .title-false {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;

      .amount-answer {
        margin: 0 10px;
        background: green;
        width: 50px;
        height: 30px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
      }
    }

    .title-false .amount-answer {
      background: red;
    }
  }

.choose-wrap, .sprint-game, .sprint-result {
  width: 600px;
  height: calc(100vh - 200px);
  max-height: 630px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px black;

  @media (max-width: 610px) {
    width: 94%;
  }
}

.choose-levels {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("/public/assets/sprint-bg.jpg") no-repeat center;
  background-size: 100% 100%;

  .choose-wrap {
    position: relative;
    top: 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-radius: 25px;

    @media (max-width: 610px) {
      width: 94%;
    }

    .title {
      font-size: 36px;
    }

    .subtitle {
      font-size: 26px;
      text-align: center;
      text-shadow: 0 0 10px black;
    }

    .button-choose {
      width: 12rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 0.5rem;
      border: 3px solid #2a7799;
      transition: 0.3s;
    }

    .levels-wrap {
      width: 30rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media (max-width: 768px) {
        width: 20rem;
      }
      @media (max-width: 425px) {
        width: 17rem;
      }

      .level {
        width: 3rem;
        height: 3rem;
        font-size: 20px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        box-shadow: 0 0 10px black;
        transition: 0.3s;

        @media (max-width: 425px) {
          width: 2.5rem;
          height: 2.5rem;
        }
      }

      .choose {
        box-shadow: 0 0 20px #2a7799;
        color: #2a7799;
      }
    }
  }
}

.game-wrap {
  position: relative;
  top: 40px;

  .current-state {
    position: relative;
    left: 50%;
    display: flex;
    width: 600px;
    justify-content: space-between;
    transform: translate(-50%, 0);
    margin: 40px 0 10px;

    @media (max-width: 910px) {
      width: 400px;
    }
    @media (max-width: 690px) {
      width: 300px;
    }
  }
}

.score, .points {
  position: relative;
  font-size: 46px;
  font-weight: bold;
  text-shadow: 0 0 10px white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px;
}

.points {
  font-size: 38px;
  margin-top: 50px;
  font-weight: 400;
}

.bulbs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 100px;


  .light-bulb {
    width: 50px;
    height: 70px;
    margin: -30px 25px 10px;
    background: black;
    -webkit-mask-image: url("/public/assets/svg/lightbulb.svg");
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
  }

  .active-light {
    background: orange;
  }
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

@media (max-width: 650px) {
  .game-wrap {
    top: 50px;
  }
}

@media (max-width: 360px) {
  .sprint-wrap .response-type .answer-false, .sprint-wrap .response-type .answer-true, .result .response-type .answer-false, .result .response-type .answer-true {
    width: 120px;
  }

  .bulbs .light-bulb {
    margin-top: -10px;
  }
}
