$firstAccent: #2a7799;
$secondAccent: lightgrey;
$colorCorrectAnswer: #69c216;
$colorWrongAnswer: #ff1e00;

#game-call {
  width: 76%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  @media (max-width: 425px) {
    width: 94%;
  }
}

.controls {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.game-call__content {
  width: 100%;
  height: 100%;
}

.field {
  padding: 25px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
//  box-shadow: 0 0 10px black;
  &_white {
    opacity: 1;
    background-color: white;
    border-radius: 25px;
  }
  &_scroll {
    overflow-y: scroll;
  }
  &_words {
    width: 30rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    @media (max-width: 425px) {
      width: 100%;
    }
  }
  @media (max-width: 425px) {
    padding: 10px;
  }
}

.button_shadow {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px black;
}

.btn-back {
  background-image: url("../assets/back.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

#game-call__levels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.game-call__levels-buttons {
  width: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: 768px) {
    width: 20rem;
  }
  @media (max-width: 425px) {
    width: 17rem;
  }
}

.instructions {
  text-align: center;
}

.game-call {
  &__game-description {
    font-size: 16px;
    text-shadow: 0 0 10px black;
    text-align: center;
  }

  &__level-button {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    &_active{
      box-shadow: 0 0 20px $firstAccent;
      color: $firstAccent;
    }
    @media (max-width: 425px) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  // quiz

  &__quiz-answer {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    visibility: hidden;
    @media (max-width: 768px) {
      width: 20rem;
      flex-direction: column;

      &.field {
        box-shadow: none;
        border-radius: 0;
        padding: 0;
      }
    }

  }

  &__question {
    width: 10rem;
    height: 10rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $secondAccent;
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }

  &__answer-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media (max-width: 1024px) {
      flex-direction: column;
      height: 17rem;
      align-items: center;
    }
  }

  &__answer-button,
  &__quiz-control,
  &__close-result,
  &__start {
    cursor: pointer;
    width: 12rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    border: 3px solid $firstAccent;

    &.game-call__answer-button_active {
      border-color: $colorWrongAnswer;
    }
  }

  &__answer-button {

    &_inactive {
      border-color: white;
      opacity: 0.3;
      cursor: not-allowed;
    }

    &_correct {
      border-color: $colorCorrectAnswer;
    }

    &_incorrect {
      border-color: $colorWrongAnswer;
    }
  }

  // results
  &__right-answers,
  &__wrong-answers {
    width: 20rem;
    @media (max-width: 425px) {
      width: 100%
    }
  }

  &__close-result {
    margin-top: 1.5rem;
  }
}

.question-answer-container {
  height: 20rem;
  width: 100%;
  display: flex;
  align-items: center;
  @media (min-width: 769px) and (max-width: 1024px) {
    height: 15rem;
  }
}

.game-call__quiz-control {
  background-color: rgba(42, 119, 153, 0.25);
}

.sound-container {
  width: 2rem;
  height: 2rem;
  background-color: lightgray;
  border-radius: 50%;
  margin: 0 1rem;
}

.sound-icon {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  background-color: $firstAccent;
  -webkit-mask-image: url("../assets/volume.svg");
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    background-color: white;
  }
}

.counter-words {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
}

.quiz-answer {

  &__img {
    width: 20rem;
    height: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px 25px 0 0;
    @media (max-width: 768px) {
      width: 100%;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
      width: 16rem;
      border-radius: 25px 0 0 25px;
    }
    @media (min-width: 1025px) {
      width: 20rem;
      border-radius: 25px 0 0 25px;
    }
  }

  &__description {
    width: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    box-sizing: border-box;
    @media (max-width: 768px) {
      width: 100%;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
      width: 16rem;
    }
  }

  &__word-pronounce,
  &__example-pronounce {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    background-image: url("../assets/volume.svg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &__word {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__example {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}


// result

#game-call__results {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#game-call__quiz {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.wrong-answer {
  background-color: #ff2f00;
}

.correct-answer {
  background-color: $colorCorrectAnswer;
}

.count-answer {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: white;
}

.count-correct-answer {
  background-color: $colorCorrectAnswer;
}

.count-wrong-answer {
  background-color: red;
}

.results-subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
